<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <TagDisplayLevelConfig>
    <add key="1" value="标签" />
    <add key="2" value="栏目">
      <link group="Article" nodetype="TagClass" text="模型设置"
        url="javascript:parent.parent.$.popupIframe('../../BICMS/ContentModel/TagContentEdit.aspx?Prefix=Article&amp;Display=2&amp;TagClassName={Name}&amp;TagClassID={ID}','内容模型设置',640,480);" />
      <link group="Article" nodetype="Tag" text="模型设置"
        url="javascript:parent.parent.$.popupIframe('../../BICMS/ContentModel/TagContentEdit.aspx?Prefix=Article&amp;Display=2&amp;TagName={Name}&amp;TagID={ID}','内容模型设置',640,480);" />
      
      <link group="Policy" nodetype="TagClass" text="模型设置"
        url="javascript:parent.parent.$.popupIframe('../../BICMS/ContentModel/TagContentEdit.aspx?Prefix=Policy&amp;Display=2&amp;TagClassName={Name}&amp;TagClassID={ID}','内容模型设置',640,480);" />
      <link group="Policy" nodetype="Tag" text="模型设置"
        url="javascript:parent.parent.$.popupIframe('../../BICMS/ContentModel/TagContentEdit.aspx?Prefix=Policy&amp;Display=2&amp;TagName={Name}&amp;TagID={ID}','内容模型设置',640,480);" />

      <link group="Product" nodetype="TagClass" text="模型设置"
        url="javascript:parent.parent.$.popupIframe('../../BICMS/ContentModel/TagContentEdit.aspx?Prefix=Product&amp;Display=2&amp;TagClassName={Name}&amp;TagClassID={ID}','内容模型设置',640,480);" />
      <link group="Product" nodetype="Tag" text="模型设置"
        url="javascript:parent.parent.$.popupIframe('../../BICMS/ContentModel/TagContentEdit.aspx?Prefix=Product&amp;Display=2&amp;TagName={Name}&amp;TagID={ID}','内容模型设置',640,480);" />
    </add>
    <add key="3" value="字典" />
    <add key="4" value="资源" />
  </TagDisplayLevelConfig>
</configuration>