<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TraceLevel" value="Info"/>
    <add key="CacheServer" value="127.0.0.1"/>
    <add key="CachePort" value="6379"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="CnStr" connectionString="data source=192.168.0.246;initial catalog=BIFramework_OA;user id=sql2008r2;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.1.18.0" newVersion="0.1.18.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
