<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <MailConfig>
    <add key="Username" value="运营中心" />
    <add key="Sysemail" value="service@bitech.cn" />
    <add key="Signature" value="&lt;br /&gt;&lt;br /&gt;--&lt;br /&gt;Powered by Bitech  &lt;a href='http://www.bitech.cn/' target='_blank'&gt;http://www.bitech.cn/&lt;a&gt;" />
    <add key="Pop" value="pop.ym.163.com" />
    <add key="PopPort" value="110" />
    <add key="PopAccount" value="service@bitech.cn" />
    <add key="PopPassword" value="123456" />
    <add key="PopEnableSsl" value="0" />
    <add key="Smtp" value="smtp.ym.163.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpAccount" value="service@bitech.cn" />
    <add key="SmtpPassword" value="123456" />
    <add key="SmtpEnableSsl" value="0" />
  </MailConfig>
</configuration>