@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 14px/22px '微软雅黑', Helvetica, sans-serif;
    background-color: #f8f8f8;
    overflow: hidden;
}

body {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#659EBB',endColorstr='#293A50')";
    background: radial-gradient(#659EBB,#293A50);
}

form .mes {
    color: red;
    float: right;
    padding-top: 6px;
    margin-right: -12px;
}

.signpanel {
    width: 700px;
    margin: auto;
    position: relative;
    top: 16%;
    z-index: 2;
}

/*登陆*/
#canvas-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.sign-btn {
    color: #F2F2F2;
}

.sign-top {
    height: 50px;
}

.sign-btn a {
    margin: 0 10px;
    color: #fff;
    font: 16px/40px normal "微软雅黑";
}

.sign-id {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #dadada;
}

.sign-id {
    background: #fafafa;
}

.sign-chart > div > a > button:last-child {
    padding-left: 40px;
    padding-right: 40px;
}

.sign-id .control-label {
    font: 18px/40px "微软雅黑";
}

.sign-form {
    background: #fff;
    border-top: 10px solid #4597FB;
}

.sign-id > div:last-child {
    padding-left: 20px;
    margin-left: 20px;
    height: 100%;
    border-left: 1px solid #dadada;
}

    .sign-id > div:last-child ul {
        padding: 20px 0;
    }

    .sign-id > div:last-child li {
        line-height: 30px;
    }

.sign-in {
    padding: 8px 40px;
}


.radio label,
.checkbox label {
    position: relative;
    display: block;
}

.radio-default {
    margin-top: 5px;
}

    .radio-default label {
        margin-right: 10px;
    }

.checkbox-default {
    margin-top: 5px;
}

    .checkbox-default label {
        margin-right: 10px;
    }

.radio,
.checkbox {
    margin-top: 6px;
}

.checkbox-inline,
.radio-inline {
    padding-left: 0;
    /*margin-left: 10px;*/
}

    .radio-inline label,
    .checkbox-inline label {
        position: relative;
        display: inline-block;
        padding-left: 0;
    }

.radio label,
.checkbox label {
    font-weight: normal;
    cursor: pointer;
    padding-left: 20px;
    margin-right: 10px;
    transition: 1s;
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: 10px;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    *top: -3px;
}

.checkbox i,
.radio i {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 18px;
    transition: 1s;
    color: #9F9F9F;
}

.checkbox input[type=checkbox]:checked + i:before {
    content: "\f046";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: '微软雅黑', Helvetica, sans-serif;
}

dl, dt, dd, li, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
